body {
    margin: 0;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #774e4e; /* Optional background color */  
}
.container1 {
    display: flex;
    width: 80%; /* Adjust the container width as needed */
   height:100%;
    padding:300px;
    padding-bottom: 0px;
    padding-top: 0%;
    border-top-width: 1px; 
   
}
.left {
    flex: 50%;
    background-color: rgb(112, 194, 31);
    padding-bottom: 200%;
    text-orientation: left;
    font-family:'Segoe UI';
    margin-top: 200px;
    padding-bottom: 710px;
    flex-grow:1; 
    margin-right: 100px;
}

    .top{
        background-color: rgb(216, 35, 35);
        color: black;
        padding: 50px;
        text-align:justify;
        height: 10%; 
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
         margin-left:300px ;
         margin-right:400px ;padding-bottom: 84px;
         font-family: 'Lucida Sans';
         font-size:xx-large;
        flex-grow:1;
        margin-top: 20px;
        
    }
